.code-table {
    border-radius: 12px;

    .code-header {
        font-size: 12px;
    }
    .code-row:nth-child(odd){
        background: #F9FAFB;
    }
}

.profile-image-container {
    width: 100px;
    height: 100px;
    position: relative;

    @include media-breakpoint-up(lg) {
        width: 160px;
        height: 160px;
    }

    img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: auto;
    }
}