body {
    background: #F2F4F7;
    padding-left: 362px;
    color: #0C111D;

    &.login {
        padding-left: 0;

        > div:first-of-type {
            position:absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 99999;
        }
    }
}

main {
    // min-height: 100vh;
    overflow: scroll;
}