.unselectable {
    user-select: none;
}

.text-figtree {
    font-family: $font-family-sans-serif;
}

.text-noto {
    font-family: $font-family-serif;
}

.fw-bold-800 {
    font-weight: 800;
}

.fw-bold-900 {
    font-weight: 900;
}
