.unselectable {
    user-select: none;
}

.text-figtree {
    font-family: $font-family-sans-serif;
}

.text-noto {
    font-family: $font-family-serif;
}

.fw-400 {
    font-weight: 400;
}

.fw-bold-500 {
    font-weight: 500;
}

.fw-bold-600 {
    font-weight: 600;
}

.fw-bold-800 {
    font-weight: 800;
}

.fw-bold-900 {
    font-weight: 900;
}

.pointer {
    cursor: pointer;
}

.bg-light-green {
    background: $jade-green-50;
}

input[type="range"]::-webkit-slider-thumb {
    background: $jade-green;
}

input[type="range"]::-webkit-slider-thumb:active {
    background: $jade-green-200;
}

.ms-n2 {
    margin-left: -8px;
}