.login-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    background: #fff;
    width: 100%;
    height: 100vh;

    .login-img {
        background: url("/images/login/login-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

