

.chat-body {
    max-height: 300px;
    max-width: 350px;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: 12px; 
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888; 
        border-radius: 10px; 
        border: 3px solid #f1f1f1;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}

.chat-window {

    .msg-container {
        word-break: break-word;

         pre {
            white-space: pre-wrap;
         }

         h1 {
            font-size: 24px;
            font-weight: normal;
         }

         h2 {
            font-size: 20px;
            font-weight: normal;
         }

         h3, h4, h5 {
            font-size: 18px;
            font-weight: normal;
         }
    }

    .assistant-row .msg-container {
        background: $jade-green-50;
    }

    input {
        

        &:focus, &:active {
            outline: none;
            box-shadow: none;
            border: 1px solid $jade-green-800;
        }
    }

    &--rfp {
        .card-body, .card-footer, .card-header .btn  {
            height: 0;
            overflow: hidden;
            transition: all 0.3s ease;
            padding: 0 !important;
        }

        .card-header {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        &.chat-open {
            .card-body, .card-footer, .card-header .btn  {
                height: auto;
                padding: 8px !important;
            }  

            .card-header {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            .card-body {
                max-height: 300px;
                min-height: 150px;
                height: 100%;
                overflow-y: scroll;
            }
        }
    }
}

.scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 325px
}

.sphere-container {
    position: relative;
  }
  
  .sphere {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient($jade-green-50, $jade-green-200);
    background-size: 200% 200%;
    background-position: 20% 70%;
    z-index: 10;
    position: relative;

    &.sphere-animate {
        animation: turn 2.5s ease-out 0s infinite;
    }
  }
  
  @keyframes turn {
    0%, 100% {
      background-position: 20% 70%;
    }
    50% {
      background-position: 80% 70%;
    }
  }

  .dev-layout {
    .sphere {
        // width: 150px;
        // height: 150px;
    }
  }


  
  
      

      
