.file-upload {

    .modal-dialog {
        max-width: 480px;
    }

    .btn-icon {
        padding: 10px;

        svg * {
            stroke: #344054;
        }
    }

    .upload-area {
        border: 2px solid $jade-green-800;
    }
}

.file-upload-preview {
    height: 240px;
    overflow-y: auto;
}